<main role="main">
  <div class="sidebar">
    <div class="sidebar-inner-index">
      <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
      </ul>
    </div>
  </div>

  <div id="hero">
    <div class="inner">
      <div class="left">
        <img class="hero-logo" src="<%- url_for("/images/myBlog.png") %>" alt="Vue logo">
        <!-- <span>
          明远博客
        </span> -->
      </div><div class="right">
        <h2 class="vue">记录学习</h2>
        <h1>
          明远博客
        </h1>
        <p>记录学习<br />本博客网页基于 Vue2 官方文档</p>
        <p>
          <a class="button" href="<%- url_for("/v2/guide/") %>">浏 览</a>
          <a class="button" href="<%- url_for("/v2/guide/routing2.html") %>">浏 览2</a>
          <a class="button gray has-icon" href="https://github.com/vuejs/vue" target="_blank" rel="noopener">
            <%- partial('icons/github-dark') %>
            GitHub</a>
        </p>
      </div>
    </div>
  </div>


  <div id="highlights">
    <div class="inner">
      <div class="point">
        <h2>前端</h2>
        <p>Vue使用、JS基础等内容</p>
      </div>

      <div class="point">
        <h2>算法</h2>
        <p>数据结构与算法</p>
      </div>

      <div class="point">
        <h2>鸡汤</h2>
        <p>
          一些思考
        </p>
      </div>
    </div>
  </div>

</main>
