<% var isIndex = page.path === 'index.html' %>
<% var isThemes = page.path === 'resources/themes.html' %>
<% var hasVueSchoolBanner = false %>

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%- page.title ? page.title + ' — ' : '' %>明远</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- main page styles -->
    <%- css(isIndex ? 'css/index' : 'css/page') %>

    <!-- this needs to be loaded before guide's inline scripts -->
    <script src="<%- url_for('/js/vue.js') %>"></script>

    <script>
      Vue.config.productionTip = false
      window.PAGE_TYPE = "<%- page.type %>"
    </script>
  </head>
  <body class="<%- isIndex ? '' : 'docs' -%>">

    <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
      <a class="menu-button"></a>
      <a class="logo" href="/"></a>
    </div>
    <%- partial('partials/header') %>
    
    <% if (!isIndex) { %>
      <div id="main" class="fix-sidebar">
        <%- body %>
      </div>
      <script src="<%- url_for("/js/smooth-scroll.min.js") %>"></script>
    <% } else { %>
      <%- body %>
    <% } %>

    <!-- main custom script for sidebars, version selects etc. -->
    <script src="<%- url_for("/js/css.escape.js") %>"></script>
    <script src="<%- url_for("/js/common.js") %>"></script>

    <!-- search -->

    <script>

    </script>
  </body>
</html>
